.containerMain {
    
    width: 100%; /* Ajusta el ancho según sea necesario */
    height: 100vh; /* Ajusta la altura según sea necesario */
}


.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in;
}