.projectsContainer {
    display: flex;
    flex-direction: column; /* Muestra los elementos en una sola columna */
    align-items: center; /* Centra los elementos horizontalmente */
    gap: 16px; /* Espacio entre los elementos */
    padding: 16px;
    background-color: #474747;
    /* height: 100vh; */ /* Ocupa el 100% de la altura de la ventana */
    /* overflow-y: auto; */ /* Permite el desplazamiento vertical si hay más tarjetas */
}

/* .buttonsProjects {
    margin-top: 16px;
}

.buttonsProjects button {
    margin: 0 8px;
} */