.containerHeder {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #121212;
    padding: 20px;
    position: relative;
    margin: 16px;
}

.headerContent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerHeder img {
    width: 5rem; /* Ajusta el ancho según el tamaño del h1 */
    height: auto;
    margin-right: 10px;
}

.containerHeder h1 {
    font-size: 3rem;
    color: #00D1A0;
}

.line {
    width: 100%;
    height: 4px; /* Altura de la línea */
    background: linear-gradient(to right, #ff0404 30%, transparent);
    position: absolute;
    bottom: 0; /* Posiciona la línea en la parte inferior del header */
    left: 0;
    background-size: 200% 100%;
    animation: laser 3s infinite linear; /* Aplicar animación */
}

/* Animación de la línea tipo láser */
@keyframes laser {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}