.projectsCardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 16px;
    background-color: #474747;
    /* height: 100vh; */
    /*   */
}

.projectCardContent {
    background-color: #121212;
    border: 2px solid #00D1A0;
    border-radius: 12px;
    padding: 16px;
    width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
    /* min-height: 400px;  */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
    display: flex;
    /* grid-template-columns: 1fr 1fr;  *//* Divide en dos columnas iguales */
    gap: 16px;
    height: 100%;
}

.projectsCardContentContainer {
    display: grid; /* Cambiar a Grid si se necesita una estructura de columnas */
    grid-template-columns: 2fr 1fr; /* Asegura que los elementos se distribuyan en dos columnas */
    gap: 100px;
    align-items: stretch; /* Asegura que todos los elementos hijos se estiren para ocupar la misma altura */
}

.projectsCardTextContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: 1 / 2; /* Ocupa la primera columna */
}

.projectCardImgBox {
    display: flex;
    justify-content: center;
    /* justify-content: space-evenly; */
    /* background-color: aliceblue; */
    /* grid-column: 2 / 2; */ 
    /* overflow: hidden; */
    width: 100%; /* Asegura que el contenedor de la imagen ocupe toda la columna */
    height: 100%;
    /* height: 500px; */
}

.projectCardImgBox img {
    max-width: 100%; 
    max-height: 400px; 
    border: 2px solid #00D1A0;
    object-fit: contain;
}

.projectCardContent h2 {
    margin: 16px 0 8px;
    font-size: 1.5rem;
}

.projectCardContent p {
    color: #555;
}

.projectCardContent a {
    color: #00D1A0;
    text-decoration: none;
    font-weight: bold;
}

.projectCardContent a:hover {
    text-decoration: underline;
}

.projectCardContent:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.projectsCardIconsContainer {
    display: flex;
    gap: 10px;
}

.projectsCardIconsContainer span svg {
    width: 24px;
    height: 24px;
}







/* 
.projectsCardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;
    background-color: #474747;
}

.projectCardContent {
    background-color: #121212;
    border: 2px solid #00D1A0;
    border-radius: 12px;
    padding: 16px;
    width: calc(50% - 20px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
}

.projectsCardContentContainer {
    display: flex;
    flex: 1; 
    align-items: stretch; 
    gap: 16px;
}

.projectsCardTextContent {
    flex: 1;
    background-color: #00D1A0; 
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
}

.projectCardImgBox {
    flex: 1;
    background-color: #00D1A0; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
}

.projectCardImgBox img {
    width: 100%;
    height: auto ;
    object-fit: contain; 
}

.projectCardContent h2 {
    margin: 16px 0 8px;
    font-size: 1.5rem;
}

.projectCardContent p {
    color: #555;
}

.projectCardContent a {
    color: #00D1A0;
    text-decoration: none;
    font-weight: bold;
}

.projectCardContent a:hover {
    text-decoration: underline;
}

.projectCardContent:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.projectsCardIconsContainer {
    display: flex;
    gap: 10px;
}

.projectsCardIconsContainer span svg {
    width: 24px;
    height: 24px;
} */